@media (max-width: 1200px) {
    .calendar {
        font-size: 75%;
    }
}

:root {
    --color-black : #000000;
    --color-white : #FFFFFF;
    --color-gray : #D8D8D8;
    --color-red : #ff0000;
    --color-light-red : #FE642E;
    --color-green : #01DF74;
}